@{
    Layout = "_LayoutAdmin";
}

<a asp-action="Managers" style="color:aliceblue" class="btn btn-info">Перейти к списку менеджеров</a>
<a asp-action="Users" style="color:aliceblue" class="btn btn-info">Перейти к списку пользователей</a>