
@{
    Layout = "_LayoutUser";
}

<h3>Ошибка оплаты, проверьте введенные данные</h3>

<a asp-action="ListCourses" class="btn btn-primary">Вернуть к списку курсов</a>
<a asp-action="Index" class="btn btn-primary">Перейти к моим курсам</a>